.caption {
    color: red;
    width: 50%;
    text-align: center;
}
.date_adr {
    width: 100%;
}

.form_date {
    border: 1px solid red;
    width: 100%;
    align
}

.form {
    color: green;
    border: 1px solid green;
    width: 50%;
    float: left;
}
.inform {
    color: blue;
    border: 1px solid blue;
    width: 50%;
    float: right;
}

/* Контейнер для второй и третьей формы */
.half-container {
    width: 50%;
    float: left;
}

/* Очистка потока для следующего элемента */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

table {
    width: 50%;
    border-collapse: collapse; /* Убирает промежутки между ячейками */
    margin-bottom: 20px;
}

.table_meters th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: blue;
}

.table_meters td {
    border: 1px solid black;
    padding: 8px;
}

.main_cell {
    text-align: center;
    color: blue;
}