<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title -%}
            {% if title %}
                {{title}}. Прием показаний
            {% else %}
                Прием показаний
            {% endif %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<header>
    {% block header -%}
        <div class="caption">
            <h3> Прием показаний ЖКХ </h3>
        </div>
    {% endblock -%}
</header>

<body>
    {% block content -%}
    {% endblock -%}

</body>

</html>