<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title -%}
            {% if title %}
                {{title}}
            {% else %}
                Прием показаний
            {% endif %}
        {% endblock %}
    </title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    {% block content -%}

        {%- block mainmenu -%}
            <ul class="mainmenu">
            {% for m in menu -%}
                <li><a href="{{url_for(m.url, link_id=m.url)}}">{{m.name}}</a></li>
                <!--li><a href="{{m.url}}" >{{m.name}}</a></li-->
            {% endfor -%}
            </ul>
        {% endblock mainmenu -%}

        <div class="clear"></div>

        <div class="content">
            {% block caption -%}
                <div class="caption">
                    Сегодня: {{curdate}}
                </div>
            {% endblock caption -%}
        </div>
    {% endblock -%}
</body>

</html>