{% extends 'base.html' %}

{% block header %}
    <div class="caption">
        <h3> Прием показаний ЖКХ </h3>
    </div>
{% endblock %}



{% block content %}
    <div class="date_adr">
        <form action="{{ url_for('submit_form') }}" method="post" >
            <p> <label for="date">Дата:</label>
            <input type="date" id="date" name="date" value="{{curdate}}">
            <p> <select name="address" >
                    {% for m in menu_adr %}
                        <option value="{{m['id']}}">{{m['street']}}</option>
                    {% endfor %}
                </select>
            <p> <button type="submit" name='action' value='counter'> Занесение... </button>
                <button type="submit" name='action' value='history'> История... </button>
        </form>
    </div>


{% endblock %}